extends layout

block content
  h1 #{title}: #{category.name}
  p #[strong Description:] !{category.description}

  .inset
    h4 Items in #{category.name}

    dl
      each item in categoryItems
        dt: a(href=item.url) #{item.name}
        dd #{item.priceFormatted}
        dd #{item.description}

      else
        p There are no items in this category yet.

  hr
  p: a(href=`/category/${category._id}/update`) Update Category
  p: a(href=`/category/${category._id}/delete`) Delete Category


