extends layout

block content
  h1= title

  dl
    each recipeItem in recipeItems
      dt #[a(href=recipeItem.url) #{recipeItem.item.name} &times; #{recipeItem.quantity}]
      dd #[strong Price (each):] #{recipeItem.item.priceFormatted}

    else
      p No recipe items yet.
