extends layout

block content
  h1 #{title}: #{recipe.name}
  p #[strong Description:] #{recipe.description}
  p #[strong Price for all ingredients:] #{recipe.price}

  .inset
    h4 Ingredients

    dl
    each recipeItem in recipe.recipeItems
      dt #[a(href=recipeItem.item.url) #{recipeItem.item.name}] &times; #{recipeItem.quantity}
      dd #[strong Price (each):] #{recipeItem.item.priceFormatted}

    else
      p No ingredients yet.

  hr
  p: a(href=`/recipe/${recipe._id}/update`) Update Recipe
  p: a(href=`/recipe/${recipe._id}/delete`) Delete Recipe    
